@model IEnumerable<Koala.Models.CartViewModel>

@{
    ViewBag.Title = "Carrito";
}

<h2 class="page-header">Carrito</h2>

<div class="row" style="margin-top: 35px;">

    @if (Model != null && Model.Count() > 0)
    {
        <table class="table">
            <tr>
                <th>
                    Nombre del producto
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Descuento
                </th>
                <th>
                    Precio
                </th>
                <th>
                </th>
            </tr>

            @{ 
                double precioTotal = 0d;
            }
            @foreach (var item in Model)
            {
                precioTotal += item.Precio;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreProducto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descuento) %
                    </td>
                    <td>
                        @item.Precio.ToString("C2")
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Delete", new { id = item.IdCarrto }, new {
                       @class = "glyphicon glyphicon-trash"})
                    </td>
                </tr>
            }
        </table>

        <h4 style="font-weight:bold; text-align: right;">Precio total: @precioTotal.ToString("C2")</h4>
        <br />

        <div class="btn-toolbar">
            <div class="btn-group">
                <a class="btn btn-success" href="@Url.Action("Catalogo", "Productos")">Continuar comprando</a>
            </div>

            <div class="btn-group">
                <a class="btn btn-default" data-toggle="modal" data-target="#modal-confirmacion">Comprar</a>
            </div>
        </div>
    }
    else
    {
        <h4 style="text-align:center;">No has añadido ningún producto al carrito.</h4>
    }

    <br/>
    <br />
</div>

@using (Html.BeginForm("MakeOrder", "Cart", FormMethod.Post))
{
   <div class="modal fade" id="modal-confirmacion" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">¡Atención!</h4>
                </div>
                <div class="modal-body">
                    <p>¿Desea finalizar su compra?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Confirmar compra</button>
                </div>
            </div>
        </div>
    </div>
}
