@model IEnumerable<Koala.Models.CartViewModel>

@{
    ViewBag.Title = "Carrito";
}

<h2 class="page-header">Carrito</h2>

<div class="row" style="margin-top: 35px;">

    @if (Model != null)
    {
        <table class="table">
            <tr>
                <th>
                    Nombre del producto
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Descuento
                </th>
                <th>
                    Precio
                </th>
                <th>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreProducto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descuento) %
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio) €
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Delete", new { id = item.IdProducto }, new {
                       @class = "glyphicon glyphicon-trash"})
                    </td>
                </tr>
            }
        </table>
        <h4 style="font-weight:bold;">Precio total:</h4>
    }
    else
    {
        <h4 style="text-align:center;">No has añadido ningún producto al carrito.</h4>
    }
    <br/>
    <br />
    <p>
        <a class="btn btn-success" href="@Url.Action("Catalogo", "Productos")">Continuar comprando</a>
    </p>
    <p>
        <a class="btn btn-default" href="@Url.Action("Index", "Home")">Comprar</a>
    </p>
    <p>
        <a class="btn btn-danger" href="@Url.Action("Index", "Home")">Confirmar compra</a>
    </p>
</div>
<br />
<br />
<br />
<br />

