@model Koala.Models.Productos

@{
    ViewBag.Title = "Detalles";
}

<br />
<br />
<h2>Productos</h2>
<br />
<br />
<div class="form-horizontal" style="padding-left:50px;">
    <div class="row">
        <div class="col-md-6">
            <h3 style="text-decoration:none; font-weight:bold; color:darkgreen;">
                @Html.DisplayFor(model => model.Nombre)
            </h3>
            <br />
            <p style="font-size:18px;">
                @Html.DisplayFor(model => model.Descripcion)
            </p>
            <br />
            <p style="font-size:18px;">
                @Html.DisplayNameFor(model => model.Precio): @Html.DisplayFor(model => model.Precio) €
            </p>
        </div>
        <div class="col-md-6">
            <img style="height:50%; width:50%;" src="~/Content/Imagenes/@Model.Foto" />
            <br />
            <br />
            <a href="#" class="btn btn-default">Añadir al carrito</a>
        </div>
    </div>
    <br />
    <br />
    <p>
        @Html.ActionLink("Volver", "Catalogo")
    </p>
    <br />
    <br />
