@model Koala.Models.ManageViewModel

@{
    ViewBag.Title = "Perfil de administrador";
}

@if (User.IsInRole(Koala.Models.KoalaRoles.UserCliente))
{
    <h2 class="page-header">@ViewBag.Title</h2>
}
else
{
    <div class="row">
        <div class="col-md-10">
            <h2 class="page-header">@ViewBag.Title</h2>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary btn-sm" href="@Url.Action("RegisterAdmin", "Account")" style="margin-top: 30px;">Crear administrador</a>
        </div>
    </div>
}

<div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#perfil" data-toggle="tab">Ventas</a></li>
        <li><a href="#clientes" data-toggle="tab">Gestión de clientes</a></li>
        <li><a href="#pedidos" data-toggle="tab">Gestión de pedidos</a></li>
        <li><a href="#productos" data-toggle="tab">Gestión de productos</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="perfil">
            <div class="row" style="margin-top: 35px;">
                <img class="center-block" src="~/Content/Imagenes/totcolap.png" />
                <br />
                <img class="center-block" src="~/Content/Imagenes/grafica.jpg" />
            </div>
        </div>
        <div class="tab-pane fade" id="clientes">
            <div class="row" style="margin-top: 35px;">
                <table class="table">
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Apellidos
                        </th>
                        <th>
                            Nick
                        </th>
                        <th>
                            DNI
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Teléfono
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Dirección
                        </th>
                        <th>
                            Población
                        </th>
                        <th>
                            Fecha de nacimiento
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.Clients)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Apellidos)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NickCliente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DNI)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Direccion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Poblacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaNac)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "EditClient", new { id = item.ID }) 
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="pedidos">
            <div class="row" style="margin-top: 35px;">
                <table class="table">
                        <tr>
                            <th>
                                Núm. Pedido
                            </th>
                            <th>
                                Cliente
                            </th>
                            <th>
                                Productos
                            </th>
                            <th>
                                Fecha pedido
                            </th>
                            <th>
                                Fecha confirmado
                            </th>
                            <th>
                                Fecha enviado
                            </th>
                            <th>
                                Fecha recibido
                            </th>
                            <th>
                                Total precio
                            </th>
                            <th></th>
                        </tr>

                    @foreach (var item in Model.Orders)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumPedido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cliente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaPedido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaConfirmado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaEnviado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaRecibido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalPrecio) €
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "EditOrder", new { id = item.NumPedido })
                            </td>
                        </tr>
                     }
                    </table>
            </div>
        </div>
        <div class="tab-pane fade" id="productos">
            <div class="row" style="margin-top: 35px;">
                <p>
                    @Html.ActionLink("Crear nuevo", "CreateProduct")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            ID Producto
                        </th>
                        <th>
                            Tipo
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Descripción
                        </th>
                        <th>
                            Precio
                        </th>
                        <th>
                            Descuento
                        </th>
                        <th>
                            Escaparate
                        </th>
                        <th>
                        </th>
                    </tr>

                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tipo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Precio) €
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descuento) %
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Escaparate)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "EditProduct", new { id = item.ID }) |
                                @Html.ActionLink("Eliminar", "DeleteProduct", new { id = item.ID })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
