@model Koala.Models.ManageViewModel

@{
    ViewBag.Title = "Perfil de administrador";
}

<h2 class="page-header">@ViewBag.Title</h2>

<div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#perfil" data-toggle="tab">Ventas</a></li>
        <li><a href="#clientes" data-toggle="tab">Gestión de clientes</a></li>
        <li><a href="#pedidos" data-toggle="tab">Gestión de pedidos</a></li>
        <li><a href="#productos" data-toggle="tab">Gestión de productos</a></li>
        <li><a href="#registro" data-toggle="tab">Registro de admins</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="perfil">
            <div class="row" style="margin-top: 35px;">
                <img class="center-block" src="~/Content/Imagenes/totcolap.png" />
                <br />
                <img class="center-block" src="~/Content/Imagenes/grafica.jpg" />
            </div>
        </div>
        <div class="tab-pane fade" id="clientes">
            <div class="row" style="margin-top: 35px;">
                <table class="table">
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Apellidos
                        </th>
                        <th>
                            Nick
                        </th>
                        <th>
                            DNI
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Teléfono
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Dirección
                        </th>
                        <th>
                            Población
                        </th>
                        <th>
                            Fecha de nacimiento
                        </th>
                    </tr>

                    @foreach (var item in Model.Clients)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Apellidos)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NickCliente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DNI)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Direccion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Poblacion)
                            </td>
                            <td>
                                @{
                                    string parameterValueFechaNac = item.FechaNac.ToShortDateString();
                                }
                                @Html.DisplayFor(modelItem => parameterValueFechaNac)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="pedidos">
            <div class="row" style="margin-top: 35px;">
                <table class="table">
                        <tr>
                            <th>
                                Núm. Pedido
                            </th>
                            <th>
                                Cliente
                            </th>
                            <th>
                                Productos
                            </th>
                            <th>
                                Fecha pedido
                            </th>
                            <th>
                                Fecha confirmado
                            </th>
                            <th>
                                Fecha enviado
                            </th>
                            <th>
                                Fecha recibido
                            </th>
                            <th>
                                Total precio
                            </th>
                            <th></th>
                        </tr>

                    @foreach (var item in Model.Orders)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumPedido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cliente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @{
                                    string parameterValuePedido = item.FechaPedido.ToShortDateString();
                                }
                                @Html.DisplayFor(modelItem => parameterValuePedido)
                            </td>
                            <td>
                                @{
                                    string parameterValueConfirmado = item.FechaConfirmado.ToShortDateString();
                                }
                                @Html.DisplayFor(modelItem => parameterValueConfirmado)
                            </td>
                            <td>
                                @{
                                    string parameterValueEnviado = item.FechaEnviado.ToShortDateString();
                                }
                                @Html.DisplayFor(modelItem => parameterValueEnviado)
                            </td>
                            <td>
                                @{
                                    string parameterValueRecibido = item.FechaRecibido.ToShortDateString();
                                }
                                @Html.DisplayFor(modelItem => parameterValueRecibido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalPrecio) €
                            </td>
                        </tr>
                     }
                    </table>
            </div>
        </div>
        <div class="tab-pane fade" id="productos">
            <div class="row" style="margin-top: 35px;">


            </div>
        </div>
        <div class="tab-pane fade" id="registro">
            <div class="row" style="margin-top: 35px;">

            </div>
        </div>
    </div>
</div>
