@model Koala.Models.Productos

@{
    ViewBag.Title = "Eliminar producto";
}

<h2 class="page-header">Eliminar producto</h2>

<h3>¿Está seguro de que desea eliminar este producto?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio) €
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descuento) %
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Escaparate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escaparate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Producto.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Producto.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Cancelar", "Index")
        </div>
    }
</div>
