@model Koala.Models.Pedidos

@{
    ViewBag.Title = "Detalles del pedido";
}

<h2 class="page-header">Detalles del pedido</h2>

<h3>ID de pedido: @Model.Id_Pedido</h3>

<div class="row" style="margin-top: 35px;">
    <table class="table">
        <tr>
            <th>
                ID Producto
            </th>
            <th>
                Nombre
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Precio
            </th>
        </tr>

        @foreach (var item in Model.Línea_Pedido)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio) €
                </td>
            </tr>
        }
    </table>
    <p>
        @Html.ActionLink("Volver", "Index")
    </p>
</div>
<br />
<br />
<br />
<br />
